.list-viewdownload {
  padding-right: +16px;
  list-style: none;
  display: inline-block;
}

.aperto-download, .aperto-open-eye {
  display: inline-block;
  background: url('../../images/sprite-aperto-icons.png') no-repeat;
  overflow: visible;
  text-align: right;
  font-weight: bold;
}
 
.aperto-download {
  background-position: -0px -0px;
  width: 20px;
  height: 20px;
}
.aperto-open-eye {
  background-position: -0px -20px;
  width: 20px;
  height: 20px;
}
