{# Differisce dal template CKAN per il titolo del box, per la rimozione delle statistiche sulle organizzazioni e per l'aggiunta di quella sulle visite complessive dei datasets. #}

{% set stats = h.get_site_statistics() %}
{% set count = h.dataset_tracking_views_sum() %}

<div class="box stats">
  <div class="inner">
    <h3>
      {{ _('Dataset Stats') }}
    </h3>
    <ul>
      {% block stats_group %}
      <li>
        <a href="{{ h.url_for('dataset.search') }}">
          <strong>{{ h.SI_number_span(stats.dataset_count) }}</strong>
          {{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('dataset.search') }}">
          <strong>{{ h.SI_number_span(count) }}</strong>
          {{ _('dataset views') }}<br><small>({{ _('from date') }} 22/10/2019)</small>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for(controller='group', action='index') }}">
          <strong>{{ h.SI_number_span(stats.group_count) }}</strong>
          {{ _('group') if stats.group_count == 1 else _('groups') }}
        </a>
      </li>
      {% endblock %}
    </ul>
  </div>
</div>
