{# Differisce dal template CKAN per la rimozione delle statistiche sulle organizzazioni e per l'aggiunta di quella sulle visite complessive dei datasets. #}

{% ckan_extends %}

{% set stats = h.get_site_statistics() %}
{% set count = h.dataset_tracking_views_sum() %}

{% block stats_group %}
  <li>
    <a href="{{ h.url_for(controller='package', action='search') }}">
      <strong>{{ h.SI_number_span(stats.dataset_count) }}</strong>
      {{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}
    </a>
  </li>
  <li>
    <a href="{{ h.url_for(controller='package', action='search') }}">
      <strong>{{ h.SI_number_span(count) }}</strong>
      visualizzazioni
    </a>
  </li>
  <li>
    <a href="{{ h.url_for(controller='group', action='index') }}">
      <strong>{{ h.SI_number_span(stats.group_count) }}</strong>
      {{ _('group') if stats.group_count == 1 else _('groups') }}
    </a>
  </li>
{% endblock %}
