{% ckan_extends %}

{% block header_account_notlogged %}
  <!--li>{% link_for _('Log in'), named_route='user.login' %}</li-->
  {% if h.check_access('user_create') %}
    <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
  {% endif %}
{% endblock %}

{% block header_site_navigation %}
  <nav class="section navigation">
    <ul class="nav nav-pills">
      {% block header_site_navigation_tabs %} {{ h.build_nav_main( ('search', _('Datasets')),
        ('home.about', _('About')) ) }} {% endblock %}
      <li><a href="http://www.comune.torino.it/aperto/faq">FAQ</a></li>
    </ul>
  </nav>
{% endblock %}

