{% ckan_extends %}

{% set res = c.resource %}
{% set download_count = h.tracking_resource_downloads_count(res.url) %}

{% block resource_read_url %}
  {% if download_count > 0 %}
    <p>{{ h.tracking_resource_downloads(download_count) }}</p>
  {% endif %}
  {% if res.url and h.is_url(res.url) %}
    <p class="text-muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
  {% elif res.url %}
    <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
  {% endif %}
{% endblock %}
